[submodule "vib"]
	path = vib
	url = https://github.com/iareanthony/vib.git
[submodule "tib"]
	path = tib
	url = https://github.com/iareanthony/tib.git
[submodule "cib"]
	path = cib
	url = https://github.com/iareanthony/cib.git
[submodule "iib"]
	path = iib
	url = https://github.com/matijazezelj/iib.git
[submodule "pib"]
	path = pib
	url = https://github.com/matijazezelj/pib.git
[submodule "sib"]
	path = sib
	url = https://github.com/iareanthony/sib.git
