[submodule "vib"]
	path = vib
	url = git@github.com:iareanthony/vib.git
[submodule "tib"]
	path = tib
	url = git@github.com:iareanthony/tib.git
[submodule "cib"]
	path = cib
	url = git@github.com:iareanthony/cib.git
[submodule "iib"]
	path = iib
	url = git@github.com:iareanthony/iib.git
[submodule "pib"]
	path = pib
	url = git@github.com:iareanthony/pib.git
